<div class="add-form-container">
    <h2>Add Booking</h2>
    <form [formGroup]="bookingForm" (ngSubmit)="addBooking()">
      <div class="form-group">
        <label for="homestay_id">homestay_id:</label>
        <input type="text" formControlName="homestay_id" class="form-control" id="homestay_id">
      </div>
      <div class="form-group">
        <label for="guest_id">guest_id:</label>
        <input type="text" formControlName="guest_id" class="form-control" id="guest_id">
      </div>
      <div class="form-group">
        <label for="num_guests">num_guests:</label>
        <input type="text" formControlName="num_guests" class="form-control" id="num_guests">
      </div>
      <div class="form-group">
        <label for="check_in_date">check_in_date:</label>
        <input type="date" formControlName="check_in_date" class="form-control" id="check_in_date">
      </div>
      <div class="form-group">
        <label for="check_out_date">check_out_date:</label>
        <input type="date" formControlName="check_out_date" class="form-control" id="check_out_date">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>
</div>
