<div class="update-form-container">
    <h2>Update Homestay</h2>
    <form [formGroup]="homestayForm" (ngSubmit)="updateHomestay()">
      <div>
        <label for="owner_id">Owner ID:</label>
        <input type="text" formControlName="owner_id" id="owner_id" />
      </div>
      <div>
        <label for="address">Address:</label>
        <input type="text" formControlName="address" id="address" />
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="text" formControlName="price" id="price" />
      </div>
      <div>
        <label for="rooms_available">Rooms Available:</label>
        <input type="text" formControlName="rooms_available" id="rooms_available" />
      </div>
      <div>
        <button type="submit" [disabled]="!homestayForm.valid">Update</button>
      </div>
    </form>
</div>
