<div class="hero-section">
 
    <div class="hero-content">
        <h1 class="hero-title"><strong>Homestay Management System</strong></h1>
        <h2 class="hero-title">Redefining Homestay Experience</h2>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center" style="padding-top: 100px;">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-black text-gold">
                <div class="card-header">Manage Homestays</div>
                <div class="card-body">
                    <img src="assets\house.png" style="width: 100px; height: 100px;">
                    <h4 class="card-title">Explore Homestays</h4>
                    <p class="card-text">Find your perfect homestay experience with us.</p>
                    <a [routerLink]="['/homestays']" routerLinkActive="router-link-active" class="btn btn-light">MANAGE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-black text-gold">
                <div class="card-header">Manage Booking</div>
                <div class="card-body">
                    <img src="assets\booking.png" style="width: 100px; height: 100px;">
                    <h4 class="card-title">Book Your Stay</h4>
                    <p class="card-text">Discover unique homestay properties for your next trip.</p>
                    <a [routerLink]="['/booking']" routerLinkActive="router-link-active" class="btn btn-light">MANAGE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card bg-black text-gold">
                <div class="card-header">Manage Owners</div>
                <div class="card-body">
                    <img src="assets\leader.png" style="width: 100px; height: 100px;">
                    <h4 class="card-title">Plan Your Trip</h4>
                    <p class="card-text">Start planning your next adventure with our homestay options.</p>
                    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="btn btn-light">MANAGE</a>
                </div>
            </div>
        </div>
    </div>
</div>
