.hero-section {
    position: relative; /* Ensure the overlay covers the background */
    margin-top: 30px;
    height: 400px;
    background-image: url('src/assets/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #00000080;
    overflow: hidden; /* Hide overflow content from overlay */
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initial transparent overlay */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    z-index: 3; /* Ensure the overlay is above the background */
}

.hero-section:hover::before {
    background-color: rgba(0, 0, 0, 0.247); /* Darken overlay on hover */
}



h1.hero-title {
    margin-bottom: 30px;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 3;
    animation: fadeIn 4s ease forwards;
}
h2.hero-title {
    margin-bottom: 0px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    opacity: 0;
    z-index: 1;
    animation: fadeIn 4s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .card {
    margin-top: -50px;
    margin-left: 30px;
    width: 340px;
    height: 340px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.card:hover {
    transform: scale(1.05); /* Scale up the card slightly on hover */
}

.card-header {
    background-color: #343A40;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    height: 150px;
}

.card-body {
    padding: 30px;;
    background-color: #e7e7e7;
    color: #343A40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
    color: #343A40;
}

.card-text {
    text-align: center;
    color: #343A40;
}

.btn {
    border-radius: 10px;
    text-align: center;
    background-color: #343A40;
    color: #e7e7e7;
    border: none;
}

.btn:hover {
    background-color: #e7e7e7;
    color: #343A40;
}

.container {
    padding-left: 0;
    padding-right: 0;
}


/* FAQ Accordion Styles */
@import url('https://bootswatch.com/5/lux/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

p {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6,a ,label,p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}




.faq {
   
    margin: 0 auto;
    padding: 20px;
  }
  .accordion-item:hover {
    transform: scale(1.05); /* Scale up the card slightly on hover */
}
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    cursor: pointer;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .accordion-title:hover {
    background-color: #e0e0e0;
  }
  
  .accordion-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .accordion-title + .accordion-content {
    display: block;
  }
  
